@media screen and (max-width: 768px) {
    .textInfo {
        height: 400px;
    }
}

.posuvatelny-blok {
    overflow: scroll; /* vytvorenie posúvateľného bloku */
    padding: 10px; /* vnútorný odsadenie obsahu */
    border: 1px solid;

}

.carousel-item img {
    max-width: 100%; /* Nastavte maximálnu šírku obrázkov na 100% */
    max-height: 200px; /* Nastavte maximálnu výšku obrázkov na 150px */
    margin: 0 auto; /* Zarovnanie obrázkov na stred */
}

.hlObrDiv {
    width: 90%; /* Nastavte šírku carousela na 80% */
    height: 170px; /* Nastavte maximálnu výšku carousela na 200px */
    margin: 0 auto; /* Zarovnanie na stred */
}
.hlObrImg {
    max-width: 100%; /* Nastavte maximálnu šírku obrázkov na 100% */
    height: 145px; /* Nastavte maximálnu výšku obrázkov na 150px */
    margin: 0 auto; /* Zarovnanie obrázkov na stred */
}

#pozadie-container {
    background-image: url("obr/pozadie.png");
    background-size: cover; /* Aby sa obrázok pokryl celým kontajnerom */
    background-position: center; /* Zarovnanie obrázka do stredu */
}

.vyhladavanie {

    outline: none;
    border: none;
    padding: 15px;
    padding-right: 60px;
    border-radius: 15px;
    background-color: #ecf0f1;
    align-items: center;
    transition: background-color 0.5s, border 0.5s;
    font-weight: bold;
    font-size: 25px;
    color: #3498db;
}
.search button {
    cursor: pointer;
    padding: 0;
    font-size: 45px;
    position: absolute;
    top: 17px;
    right: 25px;
    background: transparent;
    border: 0;
    transition: color 0.5s;
    color: #3498db;
}
.search button:hover {
    color: #e67e22;
}

.nav-pills .nav-link.active {
    background-color: #3498db;
    font-weight: bold;
    transition: background-color 0.5s;
}
.nav-pills .nav-link.active:hover {
    background-color: #e67e22;
}
.nav-link:hover {
    color: #e67e22;
}
.nav-link {
    font-weight: bold;
    transition: color 0.5s;
}
.vyhladavanie::placeholder {
    font-size: 25px;
    color: #bdc3c7;
    font-weight: bold;
}

.najnovsie ion-icon {
    color: red;
    font-size: 25px;
}



.card {
    box-shadow: 0 1px 3px rgba(230, 126, 34, 0.89), 0 1px 2px #e67e22;
    transition: all 0.2s ease-in-out;

    background-color:#FFF;
}

.card:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.najnovsie a {
    text-decoration: none;
}

.kategorie a {
    text-decoration: none;
    font-weight: bold;
}

.vyhladavanieVyhl .vyhladanie {
    outline: none;
    border: none;
    padding: 15px;
    padding-right: 60px;
    border: 1px solid #f67d13;
    border-radius: 15px;
    background-color: #ecf0f1;
    align-items: center;
    transition: background-color 0.5s, border 0.5s;
    font-weight: bold;
    font-size: 15px;
    color: #3498db;
    position: relative;
}

